:root{
    --color-main-black : #3E3E3E;
    --color-orange-main: #FE9519;
  }
  
  @font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
  
  .notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
  }
  .homework_title_div{
    display: flex;
    margin: auto;
    margin-left: 100px;
    margin-top: 20px;
  }
  .assginment_title{
    font-family: "Gmarket Sans";
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
  }
  .title_book_btn{
    width: 35px;
    height: 35px;
    margin-right:10px;
  }
  .file_clip{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .assignment_div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 580px;
    height: auto;
    margin-left: 30px;
  }
  .line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
  }
  .assginment_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #d9d9d9;
    width: 580px;
    height: auto;
    border-radius: 8px;
    padding: 20px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .assginment_category{
    font-family: "Noto Sans KR";
    color: var(--color-main-black);
    font-size: 22px;
    font-weight: bold;
    white-space: nowrap;
    margin: 0;
  }
  .assginment_goal{
    font-family: "Noto Sans KR";
    color: var(--color-main-black);
    font-size: 15px;
    padding-top: 5px;
    white-space: nowrap;
    margin: 0;
  }
  .assginment_deadline_date{
    font-family: "Noto Sans KR";
    color: var(--color-orange-main);
    font-size: 15px;
    padding-top:5px;
    white-space: nowrap;
    margin: 0;
  }
  .assginment_deadline_time{
    font-family: "Noto Sans KR";
    color: var(--color-orange-main);
    font-size: 15px;
    padding-top:5px;
    white-space: nowrap;
    margin: 0;
  }
  .assignment_check_div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
    margin-left: 70px;
  }
  .assginment_check{
    font-family: "Noto Sans KR";
    color: var(--color-main-black);
    font-size: 18px;
    padding-top: 50px;
    font-weight: bold;
    padding-left: 70px;
    white-space: nowrap;
    margin: 0;
  }
  .assginment_check_box{
    display: flex;
    flex-direction: row;
    border: 1px solid var(--color-orange-main);
    width: 400px;
    height: auto;
    border-radius: 8px;
    padding: 10px;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 70px;
  }
  .assginment_example{
    width: 200px;
    height: 200px;
    justify-content: center;
  }
  .assginment_submit_div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 70px;
    padding-top: 50px;
  }
  .assginment_submit{
    font-family: "Noto Sans KR";
    color: var(--color-main-black);
    font-size: 18px;
    padding-top: 5px;
    font-weight: bold;
    white-space: nowrap;
    margin: 0;
  }
  .assginment1_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid var(--color-orange-main);
    background-color: var(--color-orange-main);
    width: 300px;
    height:20px;
    border-radius: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
  }
  .assginment1{
    font-family: "Noto Sans KR";
    color: #ffffff;
    font-size: 12px;
    padding-top: 2px;
    white-space: nowrap;
    margin: 0;
  }
  .file_add_title{
    font-family: "Noto Sans KR";
    color: var(--color-orange-main);
    font-size: 10px;
    padding-top: 2px;
  }
  .file_add_div{
    display: flex;
    margin: auto;
    margin-top: 2px;
    justify-content: left;
  }
  