<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>항공대멋사LMS</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="../js/base.js"></script>
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <div nav-include-path="../templates/layout/navbar.html"> <!--브라우저에서 인식안함.Tag 이름-->
      <script>LoadNAVBAR();</script> <!--js파일에서 만든 함수인 LoadHTML()을 불러옴-->
    </div>

    <div class="assignment_title_div">
      <img src="../img/book-btn.png" alt="title_book_btn" class="title_book_btn">
      <h1 class="assginment_title">과제 목록</h1>
    </div>

    <div class="assignment_list_div">
      <div class="assginment_box">
        <p class="assginment_category">[과제 : 깃]</p>
        <p class="assginment_goal">repository 생성과 push</p>
        <p class="assginment_deadline">3월 27일 월요일 19시까지</p>
      </div>

      <div class="assginment_box">
        <p class="assginment_category">[과제 : 깃]</p>
        <p class="assginment_goal">repository 생성과 push</p>
        <p class="assginment_deadline">3월 27일 월요일 19시까지</p>
      </div>

      <div class="assginment_box">
        <p class="assginment_category">[과제 : 깃]</p>
        <p class="assginment_goal">repository 생성과 push</p>
        <p class="assginment_deadline">3월 27일 월요일 19시까지</p>
      </div>

      <div class="assginment_box">
        <p class="assginment_category">[과제 : 깃]</p>
        <p class="assginment_goal">repository 생성과 push</p>
        <p class="assginment_deadline">3월 27일 월요일 19시까지</p>
      </div>

    </div>
</body>
  <div footer-include-path="../templates/layout/footer.html">
    <script>LoadFOOTER();</script>
  </div>
</html>
